*{
    margin: 0;
    
    font-family: 'Work Sans', sans-serif;
}

/* header and navigation styles */
header{
    background: rgba(255, 144, 14, 0.1);
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 180px;
}
nav ul{
    display: flex;
    
}

nav li{
    list-style: none;
    margin: 10px;
    
}


.nav-title{
    font-weight: 700;
    font-size: 45px;  
    color: #131313;
}

/* banner styles  */
.banner-title{
    text-align: center;
    margin-bottom: 50px;
}
.title-text{
    font-weight: 700;
    font-size: 64px; 
    margin-bottom: 20px;
}
.p-title{
    margin-bottom: 32px;
}
.btn-primary{
    background: #FF900E;
     border-radius: 2px;
     color: white;
     border: none;
     width: 120px;
     height: 40px    
      
}
.img{
    width: 80%;
    padding: 50px  100px;
}

/* main section styles  */
.banner{
    margin-top: 80px;
    display: flex;
}
.banner2{
    display: flex;
    margin: 100px 130px;
    
}
.banner2 img{
   
    margin: 10px;
}

.quick-list{
    padding-top: 250px;
  
    margin-right: 200px;
    /* margin-left: 70px; */
       
}
.quick-list2{
    
}

/* features styles  */

.features{
    margin-left: 120px;
    margin-bottom: 100px;
    display: flex;
}
.feature{
    margin: 20px;
    margin-left: 30px;
}
.box-shadow{
    padding: 10px;
    box-shadow: 2px 1px 10px #2222;
    width: 100%;
    margin: 5px;
}
.featur-img{
    margin-left: 84px;
    padding: 10px;
}
.btn-primary2{
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    width: 200px;
    height: 100px;
    font-weight: 700;
    font-size: 15px;   
}
.btn-shop{
   margin-top: -80px;
   position: relative;
   margin-left: -20px;
}

/* some-facts styles  */

.some-facts{
    margin-left: 120px;
    margin-bottom: 70px;
    padding: 20px;
}
.some-shadow{
    
    padding: 10px;
    box-shadow: 2px 1px 10px #2222;
    width: 10%;
    height: 100px;
    margin: 5px;
   
    border: 1px solid #FF900E;
    border-radius: 8px;
    transform: rotate(90deg);
}

.some-fact2{
    margin-left: 120px;
    padding: 10px;
}